.formulary {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 17px;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.father {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 2px solid rgba(204, 204, 204, 0.219);
  width: 60%;
}
/* Button Effect */
.button {
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: black;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.9s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
/* Button Effect */
