.formulary {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 17px;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.father {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.button {
  width: 100px;
}
