.container {
  background-color: rgb(236, 240, 241);
  width: 280px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  box-shadow: 5px 5px 10px;
  padding: 1%;
  border-radius: 15px 50px 30px;
}

.priceMax {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: normal;
  color: rgb(115, 115, 115);
  text-decoration: line-through;
  white-space: nowrap;
  margin-left: 20px;
}

.price {
  display: flex;
  justify-content: left;
}

.priceMin {
  font-size: 1.0625rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  white-space: nowrap;
  color: rgb(51, 51, 51);
  display: inline-block;
  margin-bottom: 0.5rem;
}

.receive {
  display: block;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  margin-bottom: 0.5rem;
  color: rgb(17, 128, 0);
}

.write {
  text-align: left;
  font-family: "Open Sans", sans-serif, sans-serif;
}
