.tablet {
  display: flex;
  margin-left: 240px;
  margin-right: 200px;
  flex-wrap: wrap;
  margin-top: 80px;
}
@media (max-width: 360px) {
  .tablet {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: center;
  }
}
