.container {
  color: black;
  padding: 20px;
  width: 240px;
  height: 100vh;
  position: fixed;
}
.link {
  text-decoration: none;
  list-style: none;
  color: black;
}

.span {
  color: black;
  font-size: 30px;
  text-align: left;
  margin-bottom: 30px;
}
.li {
  margin: 0 auto;
  padding: 5px;
  font-size: 18px;
}
